/* add your own styles here */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;600;800&display=swap');
body {
    background-color:rgb(234, 232, 228);
}
img {
    max-width: 90%;
    margin: 10px;
    border-radius: 5px;
}

#takePhoto {
    
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

h1 {
    font-family: 'Mulish', sans-serif;
    text-align: center;   
}

.button-round {
    background-color:royalblue;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: aliceblue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 12px;
    
}

.gallery {
    overflow: auto;
    white-space: nowrap;
    padding: 2px;
    height: 80%;
}
/*HOW TO DESIGN SCROLL BAR FROM https://www.digitalocean.com/community/tutorials/css-scrollbars */
.gallery::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .gallery::-webkit-scrollbar-track {
    background: rgb(193, 193, 196);      
    border-radius: 12px;  /* color of the tracking area */
  }
  
  .gallery::-webkit-scrollbar-thumb {
    background-color: royalblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }